body {
  /* background-image: url("bg-4.avif"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.mobile {
  background-image: url("mob3.jpg");
  border-radius: 100%;
}
